# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PycharmProjects\Error_and_another_error\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
